// bower:scss
// endbower

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Domine:400,700);

body {
  font-size: 18px;
  line-height: 1.5em;
  background-color: #f0f0f0;
  color: #292929;
}

header {
  padding-top: 4.2em;
  padding-bottom: 1.8em;
  background: #292929;
  color: #f0f0f0;
}

h1, h2 {
  font-family: 'Montserrat', Arial, sans-serif;
}

h1 {
  font-size: 3.157em;
  line-height: .96em;
  margin-bottom: .95em;
}

h2 {
  margin-top: 1.266em;
  margin-bottom: .633em;
  font-size: 2.369em;
  line-height: 1.27em;
  color: #4a4a4a;
}

p {
  font-family: 'Domine', Georgia, serif;
}

p + p {
  margin: 1.5em 0;
  text-indent: 2em;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .content-wrapper {
    width: 55%;
    max-width: 550px;
  }
}
