// bower:scss
// endbower

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Domine:400,700);

body {
  font-size: 20px;
  line-height: 1.5em;
  background-color: #f0f0f0;
  color: #292929;
}

a {
  color: #91aa9d;
}

a:visited {
  color: #d1dbdd,
}

header {
  padding-top: 4.2em;
  padding-bottom: 1.8em;
  background: radial-gradient(circle, rgba(0, 0, 0, .7) 20%, rgba(0, 0, 0, .5) 70%, transparent),
              url('https://culturebadger.files.wordpress.com/2013/05/mountains12.jpg');
  background-size: cover;
  background-position: center 40%;
  color: #d1dbdd;
  text-align: center;
}

.light {
  color: #4a4a4a;
}

.avatar-img {
  border-radius: 50%;
  border: 3px solid #d1dbdd;
  width: 4.5em;
  height: 4.5em;
  box-sizing: border-box;
}

.author {
  font-style: italic;
}

h1, h2 {
  font-family: 'Montserrat', Arial, sans-serif;
}

h1 {
  font-size: 3.157em;
  line-height: .96em;
  margin-bottom: .95em;
}

h2 {
  margin-top: 1.266em;
  margin-bottom: .633em;
  font-size: 2.369em;
  line-height: 1.27em;
  color: #193441;
}

p {
  font-family: 'Domine', Georgia, serif;
  letter-spacing: 0.01em;
}

p + p {
  margin: 1.5em 0;
  text-indent: 2em;
}

blockquote {
  font-style: italic;
  position: relative;
  font-family: 'Domine', Georgia, serif;
  quotes: "\201C""\201D""\2018""\2019";
  margin: 1.5em 0 1.5em;
  width: 100%;
}

blockquote:before {
  content: open-quote;
  font-size: 3em;
  left: -1em;
  top: 0.2em;
  position: absolute;
  color: #193441;
}

blockquote footer {
  text-align: right;
  font-size: 0.9em;
  color: #949494;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .content-wrapper {
    width: 60%;
    max-width: 650px;
  }
}
